In [39]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [18]:
data=pd.read_csv("cropdata.csv",index_col=0)
data.head()

,Soil,Month,State,Rice,Wheat,Cotton,Sugarcane,Tea,Ragi,Maize,Millet,Barley
0,AL,January,APT,1,0,0,0,0,0,0,0,0
1,AL,January,ASM,1,0,0,0,0,0,0,0,0
2,AL,January,BHR,1,0,0,0,0,0,0,0,0
3,AL,January,GJT,1,0,0,0,0,0,0,0,0
4,AL,January,HYA,1,0,0,0,0,0,0,0,0

In [67]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
x1=data["State"]
y1=data["Soil"]
z1=data["Month"]
x = le.fit_transform(x1)
y = le.fit_transform(y1)
z = le.fit_transform(z1)
data1 = data.merge(pd.DataFrame({'State_C':x,'Soil_C':y,'Month_C':z}),right_index=True, left_index=True)
data1.head()

,Soil,Month,State,Rice,Wheat,Cotton,Sugarcane,Tea,Ragi,Maize,Millet,Barley,State_C,Soil_C,Month_C
0,AL,January,APT,1,0,0,0,0,0,0,0,0,0,0,4
1,AL,January,ASM,1,0,0,0,0,0,0,0,0,1,0,4
2,AL,January,BHR,1,0,0,0,0,0,0,0,0,2,0,4
3,AL,January,GJT,1,0,0,0,0,0,0,0,0,4,0,4
4,AL,January,HYA,1,0,0,0,0,0,0,0,0,6,0,4

In [27]:
X = data1[['State_C','Soil_C','Month_C']]
Y = data1['Rice']

In [59]:
X_train,X_test,Y_train,Y_test =train_test_split(X,Y, random_state = 0)
X_train.head()
Y_train.head()

729    0
263    1
374    1
170    0
187    1
Name: Rice, dtype: int64

In [70]:
classifier = DecisionTreeClassifier()
classifier.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [71]:
Y_pred = classifier.predict(X_test)
Y_pred

array([1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0], dtype=int64)

In [72]:
Y_test.head()

491    1
175    1
479    1
735    0
557    1
Name: Rice, dtype: int64

In [73]:
confusion_matrix(Y_test,Y_pred)

array([[106,   3],
       [  2,  88]], dtype=int64)

In [64]:
accuracy_score(Y_test,Y_pred)*100

97.48743718592965

In [65]:
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.98      0.97      0.98       109
           1       0.97      0.98      0.97        90

    accuracy                           0.97       199
   macro avg       0.97      0.98      0.97       199
weighted avg       0.97      0.97      0.97       199

In [74]:
classifier.predict([['0','0','3']])

array([0], dtype=int64)