In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [2]:
data=pd.read_csv("cropdata.csv",index_col=0)
data.head()

,Soil,Month,State,Rice,Wheat,Cotton,Sugarcane,Tea,Ragi,Maize,Millet,Barley
0,AL,January,APT,1,0,0,0,0,0,0,0,0
1,AL,January,ASM,1,0,0,0,0,0,0,0,0
2,AL,January,BHR,1,0,0,0,0,0,0,0,0
3,AL,January,GJT,1,0,0,0,0,0,0,0,0
4,AL,January,HYA,1,0,0,0,0,0,0,0,0

In [3]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
x1=data["State"]
y1=data["Soil"]
z1=data["Month"]
x = le.fit_transform(x1)
y = le.fit_transform(y1)
z = le.fit_transform(z1)
data1 = data.merge(pd.DataFrame({'State_C':x,'Soil_C':y,'Month_C':z}),right_index=True, left_index=True)
data1.head()

,Soil,Month,State,Rice,Wheat,Cotton,Sugarcane,Tea,Ragi,Maize,Millet,Barley,State_C,Soil_C,Month_C
0,AL,January,APT,1,0,0,0,0,0,0,0,0,0,0,4
1,AL,January,ASM,1,0,0,0,0,0,0,0,0,1,0,4
2,AL,January,BHR,1,0,0,0,0,0,0,0,0,2,0,4
3,AL,January,GJT,1,0,0,0,0,0,0,0,0,4,0,4
4,AL,January,HYA,1,0,0,0,0,0,0,0,0,6,0,4

In [4]:
X = data1[['State_C','Soil_C','Month_C']]
Y = data1[['Rice','Wheat','Cotton','Sugarcane','Tea','Ragi','Maize','Millet','Barley']]

In [5]:
classifier = DecisionTreeClassifier()
classifier.fit(X,Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [14]:
a=classifier.predict([['0','0','4']])
a

array([[1, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [17]:
for i in range(0,9,1):
    if a[0][i] == 1:
        if i == 0:
            print("Rice")
        elif i == 1:
            print("Wheat")
        elif i == 2:
            print("Cotton")
        elif i == 3:
            print("Sugarcane")
        elif i == 4:
            print("Tea")
        elif i == 5:
            print("Ragi")
        elif i == 6:
            print("Maize")
        elif i == 7:
            print("Millet")
        elif i == 8:
            print("Barley")

1
2
3
4
5
6
7
8