In [2]:
import pandas as pd
from sklearn import preprocessing 
from sklearn.linear_model import LinearRegression

In [3]:
data = pd.read_csv('Crop_profit_data.csv')
data.head()

   Year    State  Crop  Production  Cultivation_cost    Profit
0  2008  Gujarat  Rice        1.22           9742.07  5876.010
1  2009  Gujarat  Rice        1.30           9821.07  5562.653
2  2010  Gujarat  Rice        1.29           9800.80  6972.270
3  2011  Gujarat  Rice        1.50          12832.76  7232.350
4  2012  Gujarat  Rice        1.79          17322.76  7422.080

In [4]:
le = preprocessing.LabelEncoder()
x1 = data['State']
y1 = data['Crop']
x = le.fit_transform(x1)
y = le.fit_transform(y1)
data1 = data.merge(pd.DataFrame({'State_code': x,'Crop_code': y}),right_index=True,left_index=True)
data1.head()

,Year,State,Crop,Production,Cultivation_cost,Profit,State_code,Crop_code
0,2008,Gujarat,Rice,1.22,9742.07,5876.010,0,7
1,2009,Gujarat,Rice,1.30,9821.07,5562.653,0,7
2,2010,Gujarat,Rice,1.29,9800.80,6972.270,0,7
3,2011,Gujarat,Rice,1.50,12832.76,7232.350,0,7
4,2012,Gujarat,Rice,1.79,17322.76,7422.080,0,7

In [5]:
X = data1[['Year','State_code','Crop_code']].values
X

array([[2008,    0,    7],
       [2009,    0,    7],
       [2010,    0,    7],
       [2011,    0,    7],
       [2012,    0,    7],
       [2013,    0,    7],
       [2014,    0,    7],
       [2015,    0,    7],
       [2016,    0,    7],
       [2017,    0,    7],
       [2018,    0,    7],
       [2008,    0,    8],
       [2009,    0,    8],
       [2010,    0,    8],
       [2011,    0,    8],
       [2012,    0,    8],
       [2013,    0,    8],
       [2014,    0,    8],
       [2015,    0,    8],
       [2016,    0,    8],
       [2017,    0,    8],
       [2018,    0,    8],
       [2008,    0,    9],
       [2009,    0,    9],
       [2010,    0,    9],
       [2011,    0,    9],
       [2012,    0,    9],
       [2013,    0,    9],
       [2014,    0,    9],
       [2015,    0,    9],
       [2016,    0,    9],
       [2017,    0,    9],
       [2018,    0,    9],
       [2008,    0,    0],
       [2009,    0,    0],
       [2010,    0,    0],
       [2011,    0,    0],
       [2012,    0,    0],
       [2013,    0,    0],
       [2014,    0,    0],
       [2015,    0,    0],
       [2016,    0,    0],
       [2017,    0,    0],
       [2018,    0,    0],
       [2008,    0,    5],
       [2009,    0,    5],
       [2010,    0,    5],
       [2011,    0,    5],
       [2012,    0,    5],
       [2013,    0,    5],
       [2014,    0,    5],
       [2015,    0,    5],
       [2016,    0,    5],
       [2017,    0,    5],
       [2018,    0,    5],
       [2008,    0,    2],
       [2009,    0,    2],
       [2010,    0,    2],
       [2011,    0,    2],
       [2012,    0,    2],
       [2013,    0,    2],
       [2014,    0,    2],
       [2015,    0,    2],
       [2016,    0,    2],
       [2017,    0,    2],
       [2018,    0,    2],
       [2008,    0,    1],
       [2009,    0,    1],
       [2010,    0,    1],
       [2011,    0,    1],
       [2012,    0,    1],
       [2013,    0,    1],
       [2014,    0,    1],
       [2015,    0,    1],
       [2016,    0,    1],
       [2017,    0,    1],
       [2018,    0,    1],
       [2008,    0,    6],
       [2009,    0,    6],
       [2010,    0,    6],
       [2011,    0,    6],
       [2012,    0,    6],
       [2013,    0,    6],
       [2014,    0,    6],
       [2015,    0,    6],
       [2016,    0,    6],
       [2017,    0,    6],
       [2018,    0,    6],
       [2008,    0,    4],
       [2009,    0,    4],
       [2010,    0,    4],
       [2011,    0,    4],
       [2012,    0,    4],
       [2013,    0,    4],
       [2014,    0,    4],
       [2015,    0,    4],
       [2016,    0,    4],
       [2017,    0,    4],
       [2018,    0,    4],
       [2008,    0,    3],
       [2009,    0,    3],
       [2010,    0,    3],
       [2011,    0,    3],
       [2012,    0,    3],
       [2013,    0,    3],
       [2014,    0,    3],
       [2015,    0,    3],
       [2016,    0,    3],
       [2017,    0,    3],
       [2018,    0,    3],
       [2008,    1,    7],
       [2009,    1,    7],
       [2010,    1,    7],
       [2011,    1,    7],
       [2012,    1,    7],
       [2013,    1,    7],
       [2014,    1,    7],
       [2015,    1,    7],
       [2016,    1,    7],
       [2017,    1,    7],
       [2018,    1,    7],
       [2008,    1,    1],
       [2009,    1,    1],
       [2010,    1,    1],
       [2011,    1,    1],
       [2012,    1,    1],
       [2013,    1,    1],
       [2014,    1,    1],
       [2015,    1,    1],
       [2016,    1,    1],
       [2017,    1,    1],
       [2018,    1,    1],
       [2008,    1,    8],
       [2009,    1,    8],
       [2010,    1,    8],
       [2011,    1,    8],
       [2012,    1,    8],
       [2013,    1,    8],
       [2014,    1,    8],
       [2015,    1,    8],
       [2016,    1,    8],
       [2017,    1,    8],
       [2018,    1,    8],
       [2008,    1,    9],
       [2009,    1,    9],
       [2010,    1,    9],
       [2011,    1,    9],
       [2012,    1,    9],
       [2013,    1,    9],
       [2014,    1,    9],
       [2015,    1,    9],
       [2016,    1,    9],
       [2017,    1,    9],
       [2018,    1,    9],
       [2008,    1,    4],
       [2009,    1,    4],
       [2010,    1,    4],
       [2011,    1,    4],
       [2012,    1,    4],
       [2013,    1,    4],
       [2014,    1,    4],
       [2015,    1,    4],
       [2016,    1,    4],
       [2017,    1,    4],
       [2018,    1,    4]], dtype=int64)

In [6]:
Y = data1['Production']
Y

0      1.22
1      1.30
2      1.29
3      1.50
4      1.79
       ...
160    1.33
161    1.44
162    1.32
163    1.54
164    2.76
Name: Production, Length: 165, dtype: float64

In [7]:
regressor = LinearRegression()
model = regressor.fit(X,Y,random_state = 10)
regressor.score(X,Y)*100

TypeError: fit() got an unexpected keyword argument 'random_state'

In [30]:
model.predict([[2018,0,2]])

array([1.75664861])